USE [master]
GO
/****** Object:  Database [LIBRAIRIE]    Script Date: 12/07/2019 12:39:53 ******/
CREATE DATABASE [LIBRAIRIE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIBRAIRIE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LIBRAIRIE.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIBRAIRIE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LIBRAIRIE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIBRAIRIE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIBRAIRIE]
GO
/****** Object:  Table [dbo].[ADRESSE]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADRESSE](
	[ADDRESSID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRYID] [int] NOT NULL,
	[PUBLISHERID] [int] NULL,
	[CUSTOMERID] [int] NULL,
	[CLI_CUSTOMERID] [int] NULL,
	[ADDRESSNAME] [varchar](150) NULL,
	[ADDRESSNUMBER] [varchar](10) NULL,
	[ADDRESSSTREETTYPE] [varchar](20) NOT NULL,
	[ADDRESSSTREETNAME] [varchar](100) NOT NULL,
	[ADDRESSPOSTALCODE] [varchar](5) NOT NULL,
	[ADDRESSCITY] [varchar](100) NOT NULL,
	[ADDRESSMORE] [varchar](30) NULL,
	[ADDRESSCHANGEDATE3] [datetime] NULL,
	[ADDRESSCHANGEDATE2] [datetime] NULL,
	[ADDRESSINVOICEENDOFVALIDDATE] [datetime] NULL,
	[ADDRESSACTIVE] [bit] NULL,
 CONSTRAINT [PK_ADRESSE] PRIMARY KEY CLUSTERED 
(
	[ADDRESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPLIQUER]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLIQUER](
	[BOOKISBN13] [varchar](15) NOT NULL,
	[VATID] [int] NOT NULL,
 CONSTRAINT [PK_APPLIQUER] PRIMARY KEY CLUSTERED 
(
	[BOOKISBN13] ASC,
	[VATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTEUR]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTEUR](
	[AUTHORID] [int] IDENTITY(1,1) NOT NULL,
	[STATUSID] [int] NOT NULL,
	[AUTHORLASTNAME] [varchar](150) NOT NULL,
	[AUTHORFIRSTNAME] [varchar](150) NOT NULL,
	[AUTHORBIO] [varchar](1024) NULL,
	[AUTHORPICTURE] [image] NULL,
	[AUTHORNOTES] [varchar](500) NULL,
	[STATAUTHDATE] [datetime] NULL,
	[STATAUTHCOMMENT] [varchar](200) NULL,
 CONSTRAINT [PK_AUTEUR] PRIMARY KEY CLUSTERED 
(
	[AUTHORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[CUSTOMERID] [int] IDENTITY(1,1) NOT NULL,
	[STATUSID] [int] NOT NULL,
	[CUSTOMERLASTNAME] [varchar](50) NOT NULL,
	[CUSTOMERFIRSTNAME] [varchar](50) NOT NULL,
	[CUSTOMERBIRTHDATE] [date] NOT NULL,
	[CUSTOMERREGISTRATIONDATE] [datetime] NOT NULL,
	[CUSTOMERMAIL] [varchar](100) NOT NULL,
	[CUSTOMERPHONE] [varchar](100) NULL,
	[CUSTOMERNOTES] [varchar](5000) NULL,
	[STATCUSTDATE] [datetime] NULL,
	[STATCUSTCOMMENT] [varchar](200) NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COECRIRE]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COECRIRE](
	[AUTHORID] [int] NOT NULL,
	[BOOKISBN13] [varchar](15) NOT NULL,
 CONSTRAINT [PK_COECRIRE] PRIMARY KEY CLUSTERED 
(
	[AUTHORID] ASC,
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMANDE]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMANDE](
	[ORDERID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMERID] [int] NOT NULL,
	[ADDRESSINVOICEID] [int] NOT NULL,
	[ADDRESSSHIPPID] [int] NOT NULL,
	[STATUSID] [int] NOT NULL,
	[SHIPPINGID] [int] NOT NULL,
	[ORDERDATE] [datetime] NOT NULL,
	[ORDERGLOBALAMOUNT] [float] NULL,
	[ORDERSHIPPINGFEES] [float] NOT NULL,
	[ORDERSHIPPINGDATE] [datetime] NULL,
	[ORDERPAYMENTCOUNT] [int] NULL,
	[ORDERPAYMENTAMOUNT] [float] NULL,
	[ORDERPAYMENTDATE] [datetime] NULL,
	[ORDERCUSTOMERIPADDRESS] [varchar](40) NULL,
	[ORDERNOTES] [varchar](5000) NULL,
	[ORDERSHIPPNUMBER] [varchar](20) NULL,
	[ORDERSHIPPSTAT] [varchar](100) NULL,
	[STATORDERDATE] [datetime] NULL,
	[STATORDERCOMMENT] [varchar](200) NULL,
 CONSTRAINT [PK_COMMANDE] PRIMARY KEY CLUSTERED 
(
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENTAIRES]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTAIRES](
	[COMMENTID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKISBN13] [varchar](15) NOT NULL,
	[LIG_LINEID] [int] NOT NULL,
	[CUSTOMERID] [int] NOT NULL,
	[STATUSID] [int] NOT NULL,
	[EMPLOGINID] [int] NULL,
	[COMMENTNOTES] [varchar](5000) NULL,
	[COMMENTEVAL] [int] NULL,
	[COMMENTDATE] [datetime] NULL,
	[COMMENTYESCOUNT] [int] NULL,
	[COMMENTNOCOUNT] [int] NULL,
	[COMMENTIPADDRESS] [varchar](40) NULL,
	[STATCOMMENTDATE] [datetime] NULL,
	[STATCOMMENTCOMMENT] [varchar](200) NULL,
 CONSTRAINT [PK_COMMENTAIRES] PRIMARY KEY CLUSTERED 
(
	[COMMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPOSER]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPOSER](
	[CARTID] [int] NOT NULL,
	[BOOKISBN13] [varchar](15) NOT NULL,
	[CARTBOOKCOUNT] [int] NOT NULL,
	[CARTBOOKAMOUNT] [float] NOT NULL,
	[CARTBOOKGLOBALAMOUNT] [float] NULL,
 CONSTRAINT [PK_COMPOSER] PRIMARY KEY CLUSTERED 
(
	[CARTID] ASC,
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DECLENCHER]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DECLENCHER](
	[BOOKISBN13] [varchar](15) NOT NULL,
	[EVENTID] [int] NOT NULL,
 CONSTRAINT [PK_DECLENCHER] PRIMARY KEY CLUSTERED 
(
	[BOOKISBN13] ASC,
	[EVENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITEUR]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITEUR](
	[PUBLISHERID] [int] IDENTITY(1,1) NOT NULL,
	[STATUSID] [int] NOT NULL,
	[EDITEUR_NOM] [varchar](150) NOT NULL,
	[PUBLISHERMAIL] [varchar](100) NULL,
	[PUBLISHERPHONE] [varchar](15) NULL,
	[PUBLISHERNOTES] [varchar](5000) NULL,
	[STATEDITDATE] [datetime] NULL,
	[STATEDITCOMMENT] [varchar](200) NULL,
 CONSTRAINT [PK_EDITEUR] PRIMARY KEY CLUSTERED 
(
	[PUBLISHERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITEURCOLLECTION]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITEURCOLLECTION](
	[PUBLISHERCOLLID] [int] IDENTITY(1,1) NOT NULL,
	[PUBLISHERID] [int] NOT NULL,
	[PUBLISHERCOLLNAME] [varchar](150) NOT NULL,
 CONSTRAINT [PK_EDITEURCOLLECTION] PRIMARY KEY CLUSTERED 
(
	[PUBLISHERCOLLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYES]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYES](
	[EMPLOGINID] [int] IDENTITY(1,1) NOT NULL,
	[STATUSID] [int] NOT NULL,
	[EMPLASTNAME] [varchar](150) NULL,
	[EMPFIRSTNAME] [varchar](150) NULL,
	[EMPPASSWORD] [varchar](100) NULL,
	[COMMENTSTATUSDATE] [datetime] NULL,
	[AUTHORNOTES] [varchar](500) NULL,
	[COMMENTSTATUTCHANGEDATE] [datetime] NULL,
	[COMMENTSTATUTCHANGECOMMENT] [varchar](500) NULL,
	[STATEMPLDATE] [datetime] NULL,
	[STATEMPLCOMMENT] [varchar](200) NULL,
	[EMPLOGIN] [varchar](150) NULL,
 CONSTRAINT [PK_EMPLOYES] PRIMARY KEY CLUSTERED 
(
	[EMPLOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENEMENT]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENEMENT](
	[EVENTID] [int] IDENTITY(1,1) NOT NULL,
	[STATUSID] [int] NOT NULL,
	[EVENTNAME] [varchar](150) NOT NULL,
	[EVENTSTARTINGDATE] [datetime] NOT NULL,
	[EVENTENDINGDATE] [datetime] NOT NULL,
	[EVENTDISCOUNT] [float] NOT NULL,
	[EVENTDESCR] [varchar](1024) NULL,
	[EVENTPICTURE] [image] NULL,
	[EVENTNOTES] [varchar](5000) NULL,
	[STATEVENTDATE] [datetime] NULL,
	[STATEVENTCOMMENT] [varchar](200) NULL,
 CONSTRAINT [PK_EVENEMENT] PRIMARY KEY CLUSTERED 
(
	[EVENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMAT]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAT](
	[FORMATID] [int] IDENTITY(1,1) NOT NULL,
	[FORMATNAME] [varchar](150) NOT NULL,
	[FORMATDESC] [varchar](1024) NULL,
 CONSTRAINT [PK_FORMAT] PRIMARY KEY CLUSTERED 
(
	[FORMATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRILLE]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRILLE](
	[GRIDID] [int] IDENTITY(1,1) NOT NULL,
	[PUBLISHERID] [int] NOT NULL,
	[GRIDCAT] [varchar](50) NOT NULL,
	[GRIDPRICE] [float] NOT NULL,
 CONSTRAINT [PK_GRILLE] PRIMARY KEY CLUSTERED 
(
	[GRIDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INCLURE]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCLURE](
	[THEMEID] [int] NOT NULL,
	[SOUS_THEMEID] [int] NOT NULL,
 CONSTRAINT [PK_INCLURE] PRIMARY KEY CLUSTERED 
(
	[THEMEID] ASC,
	[SOUS_THEMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIER]    Script Date: 12/07/2019 12:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIER](
	[KEYWORDID] [int] NOT NULL,
	[BOOKISBN13] [varchar](15) NOT NULL,
 CONSTRAINT [PK_LIER] PRIMARY KEY CLUSTERED 
(
	[KEYWORDID] ASC,
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIGNECMD]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIGNECMD](
	[LINEID] [int] IDENTITY(1,1) NOT NULL,
	[ORDERID] [int] NOT NULL,
	[BOOKISBN13] [varchar](15) NOT NULL,
	[CUSTOMERID] [int] NOT NULL,
	[LINEQUANTITY] [float] NOT NULL,
	[LINEPRICEHT] [float] NOT NULL,
	[LINEVAT] [float] NOT NULL,
	[LINEACTIVE] [bit] NULL,
 CONSTRAINT [PK_LIGNECMD] PRIMARY KEY CLUSTERED 
(
	[LINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVRE]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRE](
	[BOOKISBN13] [varchar](15) NOT NULL,
	[FORMATID] [int] NOT NULL,
	[BOOKVOLID] [int] NULL,
	[AUTHORID] [int] NOT NULL,
	[PUBLISHERCOLLID] [int] NOT NULL,
	[GRIDID] [int] NOT NULL,
	[STATUSID] [int] NOT NULL,
	[BOOKTITLE] [varchar](150) NOT NULL,
	[BOOKSUBTITLE] [varchar](300) NULL,
	[BOOKISBN10] [varchar](15) NOT NULL,
	[BOOKPICTURE] [image] NULL,
	[BOOKPAGING] [varchar](5) NOT NULL,
	[BOOKRELEASEDATE] [datetime] NOT NULL,
	[BOOKSYNOPSIS] [varchar](5000) NULL,
	[BOOKAVAILABLESTOCK] [int] NULL,
	[BOOKSERIES] [varchar](150) NULL,
	[BOOKPRICE] [float] NOT NULL,
	[BOOKNOTES] [varchar](5000) NULL,
	[STATBOOKDATE] [datetime] NULL,
	[STATBOOKCOMMENT] [varchar](200) NULL,
 CONSTRAINT [PK_LIVRE] PRIMARY KEY CLUSTERED 
(
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVREVOLUME]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVREVOLUME](
	[BOOKVOLID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKVOLNAME] [varchar](150) NOT NULL,
	[BOOKVOLQUANTITY] [int] NOT NULL,
 CONSTRAINT [PK_LIVREVOLUME] PRIMARY KEY CLUSTERED 
(
	[BOOKVOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOTCLEF]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTCLEF](
	[KEYWORDID] [int] IDENTITY(1,1) NOT NULL,
	[KEYWORDNAME] [varchar](100) NULL,
	[KEYWORDCOMMENT] [varchar](500) NULL,
 CONSTRAINT [PK_MOTCLEF] PRIMARY KEY CLUSTERED 
(
	[KEYWORDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PANIER]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PANIER](
	[CARTID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMERID] [int] NOT NULL,
	[STATUSID] [int] NOT NULL,
	[CARTNAME] [varchar](100) NULL,
	[CARTDATE] [datetime] NOT NULL,
	[STATCARTDATE] [datetime] NULL,
	[STATCARTCOMMENT] [varchar](200) NULL,
 CONSTRAINT [PK_PANIER] PRIMARY KEY CLUSTERED 
(
	[CARTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYS]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYS](
	[COUNTRYID] [int] IDENTITY(1,1) NOT NULL,
	[Pays] [varchar](50) NOT NULL,
	[A2] [char](2) NOT NULL,
	[A3] [char](3) NOT NULL,
	[Number] [decimal](3, 0) NOT NULL,
 CONSTRAINT [PK_PAYS] PRIMARY KEY CLUSTERED 
(
	[COUNTRYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSSEDER]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSSEDER](
	[THEMEID] [int] NOT NULL,
	[BOOKISBN13] [varchar](15) NOT NULL,
 CONSTRAINT [PK_POSSEDER] PRIMARY KEY CLUSTERED 
(
	[THEMEID] ASC,
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOCIETE]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIETE](
	[SOCNOM] [varchar](150) NOT NULL,
	[ADDRESSID] [int] NULL,
	[SOCSIRET] [varchar](20) NULL,
	[SOCSIREN] [varchar](15) NULL,
	[SOCMAIL] [varchar](100) NULL,
	[SOCPHONE] [varchar](15) NULL,
 CONSTRAINT [PK_SOCIETE] PRIMARY KEY CLUSTERED 
(
	[SOCNOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[STATUSID] [int] NOT NULL,
	[STATUSNAME] [varchar](150) NOT NULL,
	[STATUS_DESCR] [varchar](1000) NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THEME]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEME](
	[THEMEID] [int] IDENTITY(1,1) NOT NULL,
	[THEMENAME] [varchar](150) NOT NULL,
	[THEMEDESC] [varchar](150) NULL,
 CONSTRAINT [PK_THEME] PRIMARY KEY CLUSTERED 
(
	[THEMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSPORTEUR]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSPORTEUR](
	[SHIPPINGID] [int] IDENTITY(1,1) NOT NULL,
	[STATUSID] [int] NOT NULL,
	[SHIPPINGFEES] [float] NOT NULL,
	[SHIPPINGCARRIERNAME] [varchar](150) NULL,
	[SHIPPINGCARRIERLOGO] [image] NULL,
	[SHIPPINGCARRIERMAIL] [varchar](100) NULL,
	[SHIPPINGCARRIERPHONE] [varchar](20) NULL,
	[SHIPPINGNOTES] [varchar](5000) NULL,
	[STATSHIPPDATE] [datetime] NULL,
	[STATSHIPPCOMMENT] [varchar](200) NULL,
 CONSTRAINT [PK_TRANSPORTEUR] PRIMARY KEY CLUSTERED 
(
	[SHIPPINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TVA]    Script Date: 12/07/2019 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TVA](
	[VATID] [int] IDENTITY(1,1) NOT NULL,
	[VATTYPE] [varchar](150) NOT NULL,
	[VATTAUX] [float] NOT NULL,
 CONSTRAINT [PK_TVA] PRIMARY KEY CLUSTERED 
(
	[VATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADRESSE] ON 

INSERT [dbo].[ADRESSE] ([ADDRESSID], [COUNTRYID], [PUBLISHERID], [CUSTOMERID], [CLI_CUSTOMERID], [ADDRESSNAME], [ADDRESSNUMBER], [ADDRESSSTREETTYPE], [ADDRESSSTREETNAME], [ADDRESSPOSTALCODE], [ADDRESSCITY], [ADDRESSMORE], [ADDRESSCHANGEDATE3], [ADDRESSCHANGEDATE2], [ADDRESSINVOICEENDOFVALIDDATE], [ADDRESSACTIVE]) VALUES (1, 74, NULL, 5, 6, N'Maison', N'2', N'rue', N'du chateau', N'92600', N'asnieres sur seine', N'digicode 2332', NULL, NULL, NULL, 1)
INSERT [dbo].[ADRESSE] ([ADDRESSID], [COUNTRYID], [PUBLISHERID], [CUSTOMERID], [CLI_CUSTOMERID], [ADDRESSNAME], [ADDRESSNUMBER], [ADDRESSSTREETTYPE], [ADDRESSSTREETNAME], [ADDRESSPOSTALCODE], [ADDRESSCITY], [ADDRESSMORE], [ADDRESSCHANGEDATE3], [ADDRESSCHANGEDATE2], [ADDRESSINVOICEENDOFVALIDDATE], [ADDRESSACTIVE]) VALUES (2, 74, NULL, 10, 8, N'Home', N'12', N'avenue', N'du chateau', N'92600', N'asnieres sur seine', N'appart droite', NULL, NULL, NULL, 1)
INSERT [dbo].[ADRESSE] ([ADDRESSID], [COUNTRYID], [PUBLISHERID], [CUSTOMERID], [CLI_CUSTOMERID], [ADDRESSNAME], [ADDRESSNUMBER], [ADDRESSSTREETTYPE], [ADDRESSSTREETNAME], [ADDRESSPOSTALCODE], [ADDRESSCITY], [ADDRESSMORE], [ADDRESSCHANGEDATE3], [ADDRESSCHANGEDATE2], [ADDRESSINVOICEENDOFVALIDDATE], [ADDRESSACTIVE]) VALUES (3, 74, NULL, 5, 11, N'bureau', N'122', N'boulevard', N'de la paix', N'92400', N'courbevoie', N'gardienne', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ADRESSE] OFF
INSERT [dbo].[APPLIQUER] ([BOOKISBN13], [VATID]) VALUES (N'978-2070546428', 2)
INSERT [dbo].[APPLIQUER] ([BOOKISBN13], [VATID]) VALUES (N'978-2070546435', 2)
INSERT [dbo].[APPLIQUER] ([BOOKISBN13], [VATID]) VALUES (N'978-2070546442', 2)
SET IDENTITY_INSERT [dbo].[AUTEUR] ON 

INSERT [dbo].[AUTEUR] ([AUTHORID], [STATUSID], [AUTHORLASTNAME], [AUTHORFIRSTNAME], [AUTHORBIO], [AUTHORPICTURE], [AUTHORNOTES], [STATAUTHDATE], [STATAUTHCOMMENT]) VALUES (1, 500, N'DAHL', N'ROALD', N'Roald Dahl, né le 13 septembre 1916 à Llandaff au pays de Galles et mort le 23 novembre 1990 à Oxford en Angleterre, est un écrivain britannique et scénariste, auteur de romans et de nouvelles, qui s''adressent aussi bien aux enfants qu''aux adultes, mais mieux connu pour ses ouvrages de littérature d''enfance et de jeunesse.', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AUTEUR] OFF
SET IDENTITY_INSERT [dbo].[CLIENT] ON 

INSERT [dbo].[CLIENT] ([CUSTOMERID], [STATUSID], [CUSTOMERLASTNAME], [CUSTOMERFIRSTNAME], [CUSTOMERBIRTHDATE], [CUSTOMERREGISTRATIONDATE], [CUSTOMERMAIL], [CUSTOMERPHONE], [CUSTOMERNOTES], [STATCUSTDATE], [STATCUSTCOMMENT]) VALUES (5, 700, N'BLANC', N'Tom', CAST(N'1976-05-12' AS Date), CAST(N'2019-05-01T00:00:00.000' AS DateTime), N'blanctom@mail.fr', N'06.00.00.00.00', NULL, NULL, NULL)
INSERT [dbo].[CLIENT] ([CUSTOMERID], [STATUSID], [CUSTOMERLASTNAME], [CUSTOMERFIRSTNAME], [CUSTOMERBIRTHDATE], [CUSTOMERREGISTRATIONDATE], [CUSTOMERMAIL], [CUSTOMERPHONE], [CUSTOMERNOTES], [STATCUSTDATE], [STATCUSTCOMMENT]) VALUES (6, 700, N'DUPONT', N'Alice', CAST(N'1962-01-01' AS Date), CAST(N'2018-05-01T00:00:00.000' AS DateTime), N'dupontalice@mail.com', N'06.10.10.10.10', NULL, NULL, NULL)
INSERT [dbo].[CLIENT] ([CUSTOMERID], [STATUSID], [CUSTOMERLASTNAME], [CUSTOMERFIRSTNAME], [CUSTOMERBIRTHDATE], [CUSTOMERREGISTRATIONDATE], [CUSTOMERMAIL], [CUSTOMERPHONE], [CUSTOMERNOTES], [STATCUSTDATE], [STATCUSTCOMMENT]) VALUES (8, 700, N'CRUIZE', N'Thomas', CAST(N'1972-03-25' AS Date), CAST(N'2019-05-01T00:00:00.000' AS DateTime), N'tomcruis@gmail.com', N'06.69.10.10.10', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CLIENT] OFF
SET IDENTITY_INSERT [dbo].[COMMANDE] ON 

INSERT [dbo].[COMMANDE] ([ORDERID], [CUSTOMERID], [ADDRESSINVOICEID], [ADDRESSSHIPPID], [STATUSID], [SHIPPINGID], [ORDERDATE], [ORDERGLOBALAMOUNT], [ORDERSHIPPINGFEES], [ORDERSHIPPINGDATE], [ORDERPAYMENTCOUNT], [ORDERPAYMENTAMOUNT], [ORDERPAYMENTDATE], [ORDERCUSTOMERIPADDRESS], [ORDERNOTES], [ORDERSHIPPNUMBER], [ORDERSHIPPSTAT], [STATORDERDATE], [STATORDERCOMMENT]) VALUES (25, 5, 9, 1, 100, 2, CAST(N'2019-07-04T00:00:00.000' AS DateTime), 7.28, 5, NULL, NULL, 0, NULL, N'', N'null', N'null', N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[COMMANDE] OFF
SET IDENTITY_INSERT [dbo].[COMMENTAIRES] ON 

INSERT [dbo].[COMMENTAIRES] ([COMMENTID], [BOOKISBN13], [LIG_LINEID], [CUSTOMERID], [STATUSID], [EMPLOGINID], [COMMENTNOTES], [COMMENTEVAL], [COMMENTDATE], [COMMENTYESCOUNT], [COMMENTNOCOUNT], [COMMENTIPADDRESS], [STATCOMMENTDATE], [STATCOMMENTCOMMENT]) VALUES (9, N'978-2070549430', 29, 6, 300, NULL, N'je beaucoup adore le livre', 5, NULL, NULL, NULL, N'null', NULL, N'')
INSERT [dbo].[COMMENTAIRES] ([COMMENTID], [BOOKISBN13], [LIG_LINEID], [CUSTOMERID], [STATUSID], [EMPLOGINID], [COMMENTNOTES], [COMMENTEVAL], [COMMENTDATE], [COMMENTYESCOUNT], [COMMENTNOCOUNT], [COMMENTIPADDRESS], [STATCOMMENTDATE], [STATCOMMENTCOMMENT]) VALUES (10, N'978-2070546442', 13, 10, 300, NULL, N'bof', 2, NULL, NULL, NULL, N'null', NULL, N'')
INSERT [dbo].[COMMENTAIRES] ([COMMENTID], [BOOKISBN13], [LIG_LINEID], [CUSTOMERID], [STATUSID], [EMPLOGINID], [COMMENTNOTES], [COMMENTEVAL], [COMMENTDATE], [COMMENTYESCOUNT], [COMMENTNOCOUNT], [COMMENTIPADDRESS], [STATCOMMENTDATE], [STATCOMMENTCOMMENT]) VALUES (11, N'978-2070546428', 36, 10, 300, NULL, N'j''adore', 4, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[COMMENTAIRES] OFF
INSERT [dbo].[COMPOSER] ([CARTID], [BOOKISBN13], [CARTBOOKCOUNT], [CARTBOOKAMOUNT], [CARTBOOKGLOBALAMOUNT]) VALUES (1, N'978-2070546428', 2, 1.55, 3.1)
INSERT [dbo].[COMPOSER] ([CARTID], [BOOKISBN13], [CARTBOOKCOUNT], [CARTBOOKAMOUNT], [CARTBOOKGLOBALAMOUNT]) VALUES (5, N'978-2070546435', 1, 1.55, 1.55)
INSERT [dbo].[COMPOSER] ([CARTID], [BOOKISBN13], [CARTBOOKCOUNT], [CARTBOOKAMOUNT], [CARTBOOKGLOBALAMOUNT]) VALUES (6, N'978-2070546428', 1, 1.55, 1.55)
INSERT [dbo].[DECLENCHER] ([BOOKISBN13], [EVENTID]) VALUES (N'978-2070546428', 2)
INSERT [dbo].[DECLENCHER] ([BOOKISBN13], [EVENTID]) VALUES (N'978-2070546459', 2)
INSERT [dbo].[DECLENCHER] ([BOOKISBN13], [EVENTID]) VALUES (N'978-2070549436', 2)
SET IDENTITY_INSERT [dbo].[EDITEUR] ON 

INSERT [dbo].[EDITEUR] ([PUBLISHERID], [STATUSID], [EDITEUR_NOM], [PUBLISHERMAIL], [PUBLISHERPHONE], [PUBLISHERNOTES], [STATEDITDATE], [STATEDITCOMMENT]) VALUES (2, 600, N'Editions de Fallois', N'Editions de Fallois 22, rue la Boétie 75016 Paris', N'01 42 66 91 95', N'Fondées en 1987, les éditions de Fallois ont toujours eu la diversité pour devise. Plus de 800 titres y ont été publiés : romans français et étrangers, études historiques, essais littéraires, philosophiques ou politiques, mémoires et témoignages accordés aux préoccupations de notre temps sans souci des modes.', NULL, NULL)
INSERT [dbo].[EDITEUR] ([PUBLISHERID], [STATUSID], [EDITEUR_NOM], [PUBLISHERMAIL], [PUBLISHERPHONE], [PUBLISHERNOTES], [STATEDITDATE], [STATEDITCOMMENT]) VALUES (4, 620, N'folio', N'8 AVENUE DU PORTE FOLIO', N'01 23 45 67 89', N'Jolie histoire sur mon editeur', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EDITEUR] OFF
SET IDENTITY_INSERT [dbo].[EDITEURCOLLECTION] ON 

INSERT [dbo].[EDITEURCOLLECTION] ([PUBLISHERCOLLID], [PUBLISHERID], [PUBLISHERCOLLNAME]) VALUES (1, 1, N'Folio Junior')
INSERT [dbo].[EDITEURCOLLECTION] ([PUBLISHERCOLLID], [PUBLISHERID], [PUBLISHERCOLLNAME]) VALUES (2, 2, N'Fortunio')
SET IDENTITY_INSERT [dbo].[EDITEURCOLLECTION] OFF
SET IDENTITY_INSERT [dbo].[EMPLOYES] ON 

INSERT [dbo].[EMPLOYES] ([EMPLOGINID], [STATUSID], [EMPLASTNAME], [EMPFIRSTNAME], [EMPPASSWORD], [COMMENTSTATUSDATE], [AUTHORNOTES], [COMMENTSTATUTCHANGEDATE], [COMMENTSTATUTCHANGECOMMENT], [STATEMPLDATE], [STATEMPLCOMMENT], [EMPLOGIN]) VALUES (1, 1000, N'Patamob', N'Adhemar', N'Optional[Djgkh3rVsmAsQJtbt2owfb3+1Wo/gW/lYgtCLWAuWpLcWWfqYqyuDC+1BqfmgoMpE8GoN7MTng/ALm9SXOlbkw==]', NULL, NULL, NULL, NULL, NULL, NULL, N'Compte01')
INSERT [dbo].[EMPLOYES] ([EMPLOGINID], [STATUSID], [EMPLASTNAME], [EMPFIRSTNAME], [EMPPASSWORD], [COMMENTSTATUSDATE], [AUTHORNOTES], [COMMENTSTATUTCHANGEDATE], [COMMENTSTATUTCHANGECOMMENT], [STATEMPLDATE], [STATEMPLCOMMENT], [EMPLOGIN]) VALUES (2, 1000, N'Ajerre', N'Tex', N'2', NULL, NULL, NULL, NULL, NULL, NULL, N'Compte02')
INSERT [dbo].[EMPLOYES] ([EMPLOGINID], [STATUSID], [EMPLASTNAME], [EMPFIRSTNAME], [EMPPASSWORD], [COMMENTSTATUSDATE], [AUTHORNOTES], [COMMENTSTATUTCHANGEDATE], [COMMENTSTATUTCHANGECOMMENT], [STATEMPLDATE], [STATEMPLCOMMENT], [EMPLOGIN]) VALUES (3, 1000, N'Enfaillite', N'Melusine', N'3', NULL, NULL, NULL, NULL, NULL, NULL, N'Compte03')
SET IDENTITY_INSERT [dbo].[EMPLOYES] OFF
SET IDENTITY_INSERT [dbo].[EVENEMENT] ON 

INSERT [dbo].[EVENEMENT] ([EVENTID], [STATUSID], [EVENTNAME], [EVENTSTARTINGDATE], [EVENTENDINGDATE], [EVENTDISCOUNT], [EVENTDESCR], [EVENTPICTURE], [EVENTNOTES], [STATEVENTDATE], [STATEVENTCOMMENT]) VALUES (4, 210, N'Salon Jeunesse', CAST(N'2019-06-15T00:00:00.000' AS DateTime), CAST(N'2019-07-10T00:00:00.000' AS DateTime), 2, N'Le salon Jeunesse', NULL, N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EVENEMENT] OFF
SET IDENTITY_INSERT [dbo].[FORMAT] ON 

INSERT [dbo].[FORMAT] ([FORMATID], [FORMATNAME], [FORMATDESC]) VALUES (1, N'BROCHE', N' le livre broché est composé de plusieurs cahiers, comptant chacun un nombre pair de pages, allant de six à trente-deux.')
INSERT [dbo].[FORMAT] ([FORMATID], [FORMATNAME], [FORMATDESC]) VALUES (3, N'RELIE', N'Le format relié, n''est pas si différent. Une fois les cahiers ensemble, ils sont cousus. La couverture quand à elle est rigide, donc beaucoup plus solide. On ajoute une jaquette et le tout est joué. Pour cette raison ils sont un peu plus cher, mais très résistants. La couture est vite repérable et minutieuse.')
SET IDENTITY_INSERT [dbo].[FORMAT] OFF
SET IDENTITY_INSERT [dbo].[GRILLE] ON 

INSERT [dbo].[GRILLE] ([GRIDID], [PUBLISHERID], [GRIDCAT], [GRIDPRICE]) VALUES (3, 1, N'AVENTURE', 6.9)
INSERT [dbo].[GRILLE] ([GRIDID], [PUBLISHERID], [GRIDCAT], [GRIDPRICE]) VALUES (5, 2, N'AUTOBIOGRAPHIE', 6.5)
INSERT [dbo].[GRILLE] ([GRIDID], [PUBLISHERID], [GRIDCAT], [GRIDPRICE]) VALUES (8, 1, N'FANTASTIQUE', 1.55)
SET IDENTITY_INSERT [dbo].[GRILLE] OFF
INSERT [dbo].[INCLURE] ([THEMEID], [SOUS_THEMEID]) VALUES (5, 2)
INSERT [dbo].[INCLURE] ([THEMEID], [SOUS_THEMEID]) VALUES (5, 7)
INSERT [dbo].[LIER] ([KEYWORDID], [BOOKISBN13]) VALUES (9, N'978-2070546428')
INSERT [dbo].[LIER] ([KEYWORDID], [BOOKISBN13]) VALUES (10, N'978-2070546428')
INSERT [dbo].[LIER] ([KEYWORDID], [BOOKISBN13]) VALUES (1, N'978-2070546435')
SET IDENTITY_INSERT [dbo].[LIGNECMD] ON 

INSERT [dbo].[LIGNECMD] ([LINEID], [ORDERID], [BOOKISBN13], [CUSTOMERID], [LINEQUANTITY], [LINEPRICEHT], [LINEVAT], [LINEACTIVE]) VALUES (4, 1, N'978-2070546428', 5, 4, 1.55, 5.5, NULL)
INSERT [dbo].[LIGNECMD] ([LINEID], [ORDERID], [BOOKISBN13], [CUSTOMERID], [LINEQUANTITY], [LINEPRICEHT], [LINEVAT], [LINEACTIVE]) VALUES (6, 1, N'978-2070546435', 5, 1, 1.55, 5.5, NULL)
INSERT [dbo].[LIGNECMD] ([LINEID], [ORDERID], [BOOKISBN13], [CUSTOMERID], [LINEQUANTITY], [LINEPRICEHT], [LINEVAT], [LINEACTIVE]) VALUES (8, 1, N'978-2070546442', 5, 2, 1.55, 5.5, NULL)
SET IDENTITY_INSERT [dbo].[LIGNECMD] OFF
SET IDENTITY_INSERT [dbo].[LIVREVOLUME] ON 

INSERT [dbo].[LIVREVOLUME] ([BOOKVOLID], [BOOKVOLNAME], [BOOKVOLQUANTITY]) VALUES (1, N'LES CHRONIQUES DE NARNIA', 7)
SET IDENTITY_INSERT [dbo].[LIVREVOLUME] OFF
SET IDENTITY_INSERT [dbo].[MOTCLEF] ON 

INSERT [dbo].[MOTCLEF] ([KEYWORDID], [KEYWORDNAME], [KEYWORDCOMMENT]) VALUES (1, N'Nazi', N'Méchant')
INSERT [dbo].[MOTCLEF] ([KEYWORDID], [KEYWORDNAME], [KEYWORDCOMMENT]) VALUES (2, N'Kebab', N'Qui n''aime pas ce sandwich?')
INSERT [dbo].[MOTCLEF] ([KEYWORDID], [KEYWORDNAME], [KEYWORDCOMMENT]) VALUES (3, N'Explosion', N'Phénomène au cours duquel des gaz sous pression sont produits dans un temps très court')
SET IDENTITY_INSERT [dbo].[MOTCLEF] OFF
SET IDENTITY_INSERT [dbo].[PANIER] ON 

INSERT [dbo].[PANIER] ([CARTID], [CUSTOMERID], [STATUSID], [CARTNAME], [CARTDATE], [STATCARTDATE], [STATCARTCOMMENT]) VALUES (1, 5, 900, N'Achat de noel', CAST(N'2019-06-24T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[PANIER] ([CARTID], [CUSTOMERID], [STATUSID], [CARTNAME], [CARTDATE], [STATCARTDATE], [STATCARTCOMMENT]) VALUES (5, 5, 910, N'kdo maman', CAST(N'2019-05-25T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[PANIER] ([CARTID], [CUSTOMERID], [STATUSID], [CARTNAME], [CARTDATE], [STATCARTDATE], [STATCARTCOMMENT]) VALUES (6, 10, 900, N'FeteAnto', CAST(N'2019-06-24T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PANIER] OFF
SET IDENTITY_INSERT [dbo].[PAYS] ON 

INSERT [dbo].[PAYS] ([COUNTRYID], [Pays], [A2], [A3], [Number]) VALUES (1, N'AFGHANISTAN', N'AF', N'AFG', CAST(4 AS Decimal(3, 0)))
INSERT [dbo].[PAYS] ([COUNTRYID], [Pays], [A2], [A3], [Number]) VALUES (2, N'ALBANIA', N'AL', N'ALB', CAST(8 AS Decimal(3, 0)))
INSERT [dbo].[PAYS] ([COUNTRYID], [Pays], [A2], [A3], [Number]) VALUES (3, N'ALGERIA', N'DZ', N'DZA', CAST(12 AS Decimal(3, 0)))
GO
SET IDENTITY_INSERT [dbo].[PAYS] OFF
INSERT [dbo].[POSSEDER] ([THEMEID], [BOOKISBN13]) VALUES (7, N'978-2070546428')
INSERT [dbo].[POSSEDER] ([THEMEID], [BOOKISBN13]) VALUES (7, N'978-2070546435')
INSERT [dbo].[POSSEDER] ([THEMEID], [BOOKISBN13]) VALUES (7, N'978-2070546442')
INSERT [dbo].[SOCIETE] ([SOCNOM], [ADDRESSID], [SOCSIRET], [SOCSIREN], [SOCMAIL], [SOCPHONE]) VALUES (N'Fathanh Philudo', 5, N'859632447', N'85963244799999', N'rh@fa-ph.com', N'0185669314')
INSERT [dbo].[STATUS] ([STATUSID], [STATUSNAME], [STATUS_DESCR]) VALUES (100, N'En Cours', N'La commande est en cours de validation')
INSERT [dbo].[STATUS] ([STATUSID], [STATUSNAME], [STATUS_DESCR]) VALUES (110, N'Validée', N'La commande est validée')
INSERT [dbo].[STATUS] ([STATUSID], [STATUSNAME], [STATUS_DESCR]) VALUES (120, N'Réglé', N'La commande a été réglée')
SET IDENTITY_INSERT [dbo].[THEME] ON 

INSERT [dbo].[THEME] ([THEMEID], [THEMENAME], [THEMEDESC]) VALUES (1, N'Amour', N'Elle court, elle court')
INSERT [dbo].[THEME] ([THEMEID], [THEMENAME], [THEMEDESC]) VALUES (2, N'Aventure', N'Expérience imprévisible')
INSERT [dbo].[THEME] ([THEMEID], [THEMENAME], [THEMEDESC]) VALUES (3, N'Comédie', N'HAHAHAHAHA')
SET IDENTITY_INSERT [dbo].[THEME] OFF
SET IDENTITY_INSERT [dbo].[TRANSPORTEUR] ON 

INSERT [dbo].[TRANSPORTEUR] ([SHIPPINGID], [STATUSID], [SHIPPINGFEES], [SHIPPINGCARRIERNAME], [SHIPPINGCARRIERLOGO], [SHIPPINGCARRIERMAIL], [SHIPPINGCARRIERPHONE], [SHIPPINGNOTES], [STATSHIPPDATE], [STATSHIPPCOMMENT]) VALUES (2, 800, 5, N'Le Transporteur', NULL, N'letransporteur@gmail.com', N'01.43.12.13.15', N'reglement sous 90', CAST(N'2019-01-01T00:00:00.000' AS DateTime), N'nouveau marché')
SET IDENTITY_INSERT [dbo].[TRANSPORTEUR] OFF
SET IDENTITY_INSERT [dbo].[TVA] ON 

INSERT [dbo].[TVA] ([VATID], [VATTYPE], [VATTAUX]) VALUES (2, N'Normal', 20)
INSERT [dbo].[TVA] ([VATID], [VATTYPE], [VATTAUX]) VALUES (3, N'Réduit', 10)
INSERT [dbo].[TVA] ([VATID], [VATTYPE], [VATTAUX]) VALUES (4, N'Réduit', 5.5)
SET IDENTITY_INSERT [dbo].[TVA] OFF
/****** Object:  Index [ASSOCIATION_25_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_25_FK] ON [dbo].[ADRESSE]
(
	[PUBLISHERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_26_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_26_FK] ON [dbo].[ADRESSE]
(
	[COUNTRYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_37_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_37_FK] ON [dbo].[ADRESSE]
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_38_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_38_FK] ON [dbo].[ADRESSE]
(
	[CLI_CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [APPLIQUER_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [APPLIQUER_FK] ON [dbo].[APPLIQUER]
(
	[VATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [APPLIQUER2_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [APPLIQUER2_FK] ON [dbo].[APPLIQUER]
(
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_45_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_45_FK] ON [dbo].[AUTEUR]
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_47_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_47_FK] ON [dbo].[CLIENT]
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ASSOCIATION_24_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_24_FK] ON [dbo].[COECRIRE]
(
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_28_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_28_FK] ON [dbo].[COECRIRE]
(
	[AUTHORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_31_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_31_FK] ON [dbo].[COMMANDE]
(
	[SHIPPINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_39_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_39_FK] ON [dbo].[COMMANDE]
(
	[ADDRESSINVOICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_40_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_40_FK] ON [dbo].[COMMANDE]
(
	[ADDRESSSHIPPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_51_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_51_FK] ON [dbo].[COMMANDE]
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [VALIDER_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [VALIDER_FK] ON [dbo].[COMMANDE]
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ASSOCIATION_27_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_27_FK] ON [dbo].[COMMENTAIRES]
(
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_41_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_41_FK] ON [dbo].[COMMENTAIRES]
(
	[EMPLOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_43_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_43_FK] ON [dbo].[COMMENTAIRES]
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIER_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIER_FK] ON [dbo].[COMMENTAIRES]
(
	[LIG_LINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [COMMENTER_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [COMMENTER_FK] ON [dbo].[COMMENTAIRES]
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ASSOCIATION_35_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_35_FK] ON [dbo].[COMPOSER]
(
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_54_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_54_FK] ON [dbo].[COMPOSER]
(
	[CARTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_12_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_12_FK] ON [dbo].[DECLENCHER]
(
	[EVENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ASSOCIATION_15_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_15_FK] ON [dbo].[DECLENCHER]
(
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_46_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_46_FK] ON [dbo].[EDITEUR]
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CREER_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [CREER_FK] ON [dbo].[EDITEURCOLLECTION]
(
	[PUBLISHERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_48_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_48_FK] ON [dbo].[EMPLOYES]
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_50_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_50_FK] ON [dbo].[EVENEMENT]
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_13_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_13_FK] ON [dbo].[GRILLE]
(
	[PUBLISHERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_34_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_34_FK] ON [dbo].[INCLURE]
(
	[SOUS_THEMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_52_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_52_FK] ON [dbo].[INCLURE]
(
	[THEMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ASSOCIATION_33_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_33_FK] ON [dbo].[LIER]
(
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_53_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_53_FK] ON [dbo].[LIER]
(
	[KEYWORDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_36_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_36_FK] ON [dbo].[LIGNECMD]
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [COMPOSER_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [COMPOSER_FK] ON [dbo].[LIGNECMD]
(
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ETRE_CONTENUE_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ETRE_CONTENUE_FK] ON [dbo].[LIGNECMD]
(
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_14_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_14_FK] ON [dbo].[LIVRE]
(
	[GRIDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_44_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_44_FK] ON [dbo].[LIVRE]
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CONTENIR_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [CONTENIR_FK] ON [dbo].[LIVRE]
(
	[PUBLISHERCOLLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ECRIRE_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ECRIRE_FK] ON [dbo].[LIVRE]
(
	[AUTHORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ETRE_DANS_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ETRE_DANS_FK] ON [dbo].[LIVRE]
(
	[BOOKVOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ETRE_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ETRE_FK] ON [dbo].[LIVRE]
(
	[FORMATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_49_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_49_FK] ON [dbo].[PANIER]
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OUVRIR_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [OUVRIR_FK] ON [dbo].[PANIER]
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [POSSEDER_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [POSSEDER_FK] ON [dbo].[POSSEDER]
(
	[BOOKISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [POSSEDER2_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [POSSEDER2_FK] ON [dbo].[POSSEDER]
(
	[THEMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_42_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_42_FK] ON [dbo].[SOCIETE]
(
	[ADDRESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_23_FK]    Script Date: 12/07/2019 12:39:55 ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_23_FK] ON [dbo].[TRANSPORTEUR]
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAYS] ADD  DEFAULT ('') FOR [Pays]
GO
ALTER TABLE [dbo].[PAYS] ADD  DEFAULT ('') FOR [A2]
GO
ALTER TABLE [dbo].[PAYS] ADD  DEFAULT ('') FOR [A3]
GO
ALTER TABLE [dbo].[PAYS] ADD  DEFAULT ('0') FOR [Number]
GO
ALTER TABLE [dbo].[ADRESSE]  WITH CHECK ADD  CONSTRAINT [FK_ADRESSE_ASSOCIATI_EDITEUR] FOREIGN KEY([PUBLISHERID])
REFERENCES [dbo].[EDITEUR] ([PUBLISHERID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ADRESSE] CHECK CONSTRAINT [FK_ADRESSE_ASSOCIATI_EDITEUR]
GO
ALTER TABLE [dbo].[ADRESSE]  WITH CHECK ADD  CONSTRAINT [FK_ADRESSE_ASSOCIATI_PAYS] FOREIGN KEY([COUNTRYID])
REFERENCES [dbo].[PAYS] ([COUNTRYID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ADRESSE] CHECK CONSTRAINT [FK_ADRESSE_ASSOCIATI_PAYS]
GO
ALTER TABLE [dbo].[ADRESSE]  WITH CHECK ADD  CONSTRAINT [FK_ADRESSE_FACT_CLIENT] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CLIENT] ([CUSTOMERID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ADRESSE] CHECK CONSTRAINT [FK_ADRESSE_FACT_CLIENT]
GO
ALTER TABLE [dbo].[ADRESSE]  WITH CHECK ADD  CONSTRAINT [FK_ADRESSE_LIV_CLIENT] FOREIGN KEY([CLI_CUSTOMERID])
REFERENCES [dbo].[CLIENT] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[ADRESSE] CHECK CONSTRAINT [FK_ADRESSE_LIV_CLIENT]
GO
ALTER TABLE [dbo].[APPLIQUER]  WITH CHECK ADD  CONSTRAINT [FK_APPLIQUE_APPLIQUER_LIVRE] FOREIGN KEY([BOOKISBN13])
REFERENCES [dbo].[LIVRE] ([BOOKISBN13])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPLIQUER] CHECK CONSTRAINT [FK_APPLIQUE_APPLIQUER_LIVRE]
GO
ALTER TABLE [dbo].[APPLIQUER]  WITH CHECK ADD  CONSTRAINT [FK_APPLIQUE_APPLIQUER_TVA] FOREIGN KEY([VATID])
REFERENCES [dbo].[TVA] ([VATID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPLIQUER] CHECK CONSTRAINT [FK_APPLIQUE_APPLIQUER_TVA]
GO
ALTER TABLE [dbo].[AUTEUR]  WITH CHECK ADD  CONSTRAINT [FK_AUTEUR_ASSOCIATI_STATUS] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[STATUS] ([STATUSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AUTEUR] CHECK CONSTRAINT [FK_AUTEUR_ASSOCIATI_STATUS]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [FK_CLIENT_ASSOCIATI_STATUS] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[STATUS] ([STATUSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [FK_CLIENT_ASSOCIATI_STATUS]
GO
ALTER TABLE [dbo].[COECRIRE]  WITH CHECK ADD  CONSTRAINT [FK_ASSOCIAT_COECRIRE_LIVRE] FOREIGN KEY([BOOKISBN13])
REFERENCES [dbo].[LIVRE] ([BOOKISBN13])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COECRIRE] CHECK CONSTRAINT [FK_ASSOCIAT_COECRIRE_LIVRE]
GO
ALTER TABLE [dbo].[COECRIRE]  WITH CHECK ADD  CONSTRAINT [FK_COECRIRE_ASSOCIATI_AUTEUR] FOREIGN KEY([AUTHORID])
REFERENCES [dbo].[AUTEUR] ([AUTHORID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COECRIRE] CHECK CONSTRAINT [FK_COECRIRE_ASSOCIATI_AUTEUR]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_ASSOCIATI_STATUS] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[STATUS] ([STATUSID])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_ASSOCIATI_STATUS]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_ASSOCIATI_TRANSPOR] FOREIGN KEY([SHIPPINGID])
REFERENCES [dbo].[TRANSPORTEUR] ([SHIPPINGID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_ASSOCIATI_TRANSPOR]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_FACT_ADRESSE] FOREIGN KEY([ADDRESSINVOICEID])
REFERENCES [dbo].[ADRESSE] ([ADDRESSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_FACT_ADRESSE]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_LIV_ADRESSE] FOREIGN KEY([ADDRESSSHIPPID])
REFERENCES [dbo].[ADRESSE] ([ADDRESSID])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_LIV_ADRESSE]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_VALIDER_CLIENT] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CLIENT] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_VALIDER_CLIENT]
GO
ALTER TABLE [dbo].[COMMENTAIRES]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTA_ASSOCIATI_EMPLOYES] FOREIGN KEY([EMPLOGINID])
REFERENCES [dbo].[EMPLOYES] ([EMPLOGINID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMENTAIRES] CHECK CONSTRAINT [FK_COMMENTA_ASSOCIATI_EMPLOYES]
GO
ALTER TABLE [dbo].[COMMENTAIRES]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTA_ASSOCIATI_LIVRE] FOREIGN KEY([BOOKISBN13])
REFERENCES [dbo].[LIVRE] ([BOOKISBN13])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMENTAIRES] CHECK CONSTRAINT [FK_COMMENTA_ASSOCIATI_LIVRE]
GO
ALTER TABLE [dbo].[COMMENTAIRES]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTA_ASSOCIATI_STATUS] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[STATUS] ([STATUSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMENTAIRES] CHECK CONSTRAINT [FK_COMMENTA_ASSOCIATI_STATUS]
GO
ALTER TABLE [dbo].[COMMENTAIRES]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTA_ASSOCIER_LIGNECMD] FOREIGN KEY([LIG_LINEID])
REFERENCES [dbo].[LIGNECMD] ([LINEID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMENTAIRES] CHECK CONSTRAINT [FK_COMMENTA_ASSOCIER_LIGNECMD]
GO
ALTER TABLE [dbo].[COMMENTAIRES]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTA_COMMENTER_CLIENT] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CLIENT] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[COMMENTAIRES] CHECK CONSTRAINT [FK_COMMENTA_COMMENTER_CLIENT]
GO
ALTER TABLE [dbo].[COMPOSER]  WITH CHECK ADD  CONSTRAINT [FK_ASSOCIAT_COMPOSER_LIVRE] FOREIGN KEY([BOOKISBN13])
REFERENCES [dbo].[LIVRE] ([BOOKISBN13])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMPOSER] CHECK CONSTRAINT [FK_ASSOCIAT_COMPOSER_LIVRE]
GO
ALTER TABLE [dbo].[COMPOSER]  WITH CHECK ADD  CONSTRAINT [FK_COMPOSER_ASSOCIATI_PANIER] FOREIGN KEY([CARTID])
REFERENCES [dbo].[PANIER] ([CARTID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMPOSER] CHECK CONSTRAINT [FK_COMPOSER_ASSOCIATI_PANIER]
GO
ALTER TABLE [dbo].[DECLENCHER]  WITH CHECK ADD  CONSTRAINT [FK_ASSOCIAT_DECL_LIVRE] FOREIGN KEY([BOOKISBN13])
REFERENCES [dbo].[LIVRE] ([BOOKISBN13])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DECLENCHER] CHECK CONSTRAINT [FK_ASSOCIAT_DECL_LIVRE]
GO
ALTER TABLE [dbo].[DECLENCHER]  WITH CHECK ADD  CONSTRAINT [FK_DECLENCH_DECLENCHE_EVENEMEN] FOREIGN KEY([EVENTID])
REFERENCES [dbo].[EVENEMENT] ([EVENTID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DECLENCHER] CHECK CONSTRAINT [FK_DECLENCH_DECLENCHE_EVENEMEN]
GO
ALTER TABLE [dbo].[EDITEUR]  WITH CHECK ADD  CONSTRAINT [FK_EDITEUR_ASSOCIATI_STATUS] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[STATUS] ([STATUSID])
GO
ALTER TABLE [dbo].[EDITEUR] CHECK CONSTRAINT [FK_EDITEUR_ASSOCIATI_STATUS]
GO
ALTER TABLE [dbo].[EDITEURCOLLECTION]  WITH CHECK ADD  CONSTRAINT [FK_EDITEURC_CREER_EDITEUR] FOREIGN KEY([PUBLISHERID])
REFERENCES [dbo].[EDITEUR] ([PUBLISHERID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EDITEURCOLLECTION] CHECK CONSTRAINT [FK_EDITEURC_CREER_EDITEUR]
GO
ALTER TABLE [dbo].[EVENEMENT]  WITH CHECK ADD  CONSTRAINT [FK_EVENEMEN_ASSOCIATI_STATUS] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[STATUS] ([STATUSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EVENEMENT] CHECK CONSTRAINT [FK_EVENEMEN_ASSOCIATI_STATUS]
GO
ALTER TABLE [dbo].[GRILLE]  WITH CHECK ADD  CONSTRAINT [FK_GRILLE_ASSOCIATI_EDITEUR] FOREIGN KEY([PUBLISHERID])
REFERENCES [dbo].[EDITEUR] ([PUBLISHERID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GRILLE] CHECK CONSTRAINT [FK_GRILLE_ASSOCIATI_EDITEUR]
GO
ALTER TABLE [dbo].[INCLURE]  WITH CHECK ADD  CONSTRAINT [FK_ASSOCIAT_SOUSTH_THEME] FOREIGN KEY([SOUS_THEMEID])
REFERENCES [dbo].[THEME] ([THEMEID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INCLURE] CHECK CONSTRAINT [FK_ASSOCIAT_SOUSTH_THEME]
GO
ALTER TABLE [dbo].[INCLURE]  WITH CHECK ADD  CONSTRAINT [FK_ASSOCIAT_TH_THEME] FOREIGN KEY([THEMEID])
REFERENCES [dbo].[THEME] ([THEMEID])
GO
ALTER TABLE [dbo].[INCLURE] CHECK CONSTRAINT [FK_ASSOCIAT_TH_THEME]
GO
ALTER TABLE [dbo].[LIER]  WITH CHECK ADD  CONSTRAINT [FK_ASSOCIAT_LIER_LIVRE] FOREIGN KEY([BOOKISBN13])
REFERENCES [dbo].[LIVRE] ([BOOKISBN13])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIER] CHECK CONSTRAINT [FK_ASSOCIAT_LIER_LIVRE]
GO
ALTER TABLE [dbo].[LIER]  WITH CHECK ADD  CONSTRAINT [FK_LIER_ASSOCIATI_MOTCLEF] FOREIGN KEY([KEYWORDID])
REFERENCES [dbo].[MOTCLEF] ([KEYWORDID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIER] CHECK CONSTRAINT [FK_LIER_ASSOCIATI_MOTCLEF]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_ASSOCIATI_GRILLE] FOREIGN KEY([GRIDID])
REFERENCES [dbo].[GRILLE] ([GRIDID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_ASSOCIATI_GRILLE]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_ASSOCIATI_STATUS] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[STATUS] ([STATUSID])
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_ASSOCIATI_STATUS]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_CONTENIR_EDITEURC] FOREIGN KEY([PUBLISHERCOLLID])
REFERENCES [dbo].[EDITEURCOLLECTION] ([PUBLISHERCOLLID])
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_CONTENIR_EDITEURC]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_ECRIRE_AUTEUR] FOREIGN KEY([AUTHORID])
REFERENCES [dbo].[AUTEUR] ([AUTHORID])
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_ECRIRE_AUTEUR]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_ETRE_DANS_LIVREVOL] FOREIGN KEY([BOOKVOLID])
REFERENCES [dbo].[LIVREVOLUME] ([BOOKVOLID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_ETRE_DANS_LIVREVOL]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_ETRE_FORMAT] FOREIGN KEY([FORMATID])
REFERENCES [dbo].[FORMAT] ([FORMATID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_ETRE_FORMAT]
GO
ALTER TABLE [dbo].[PANIER]  WITH CHECK ADD  CONSTRAINT [FK_PANIER_ASSOCIATI_STATUS] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[STATUS] ([STATUSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PANIER] CHECK CONSTRAINT [FK_PANIER_ASSOCIATI_STATUS]
GO
ALTER TABLE [dbo].[PANIER]  WITH CHECK ADD  CONSTRAINT [FK_PANIER_OUVRIR_CLIENT] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CLIENT] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[PANIER] CHECK CONSTRAINT [FK_PANIER_OUVRIR_CLIENT]
GO
ALTER TABLE [dbo].[POSSEDER]  WITH CHECK ADD  CONSTRAINT [FK_POSSEDER_POSSEDER_LIVRE] FOREIGN KEY([BOOKISBN13])
REFERENCES [dbo].[LIVRE] ([BOOKISBN13])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POSSEDER] CHECK CONSTRAINT [FK_POSSEDER_POSSEDER_LIVRE]
GO
ALTER TABLE [dbo].[POSSEDER]  WITH CHECK ADD  CONSTRAINT [FK_POSSEDER_POSSEDER2_THEME] FOREIGN KEY([THEMEID])
REFERENCES [dbo].[THEME] ([THEMEID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POSSEDER] CHECK CONSTRAINT [FK_POSSEDER_POSSEDER2_THEME]
GO
ALTER TABLE [dbo].[SOCIETE]  WITH CHECK ADD  CONSTRAINT [FK_SOCIETE_ASSOCIATI_ADRESSE] FOREIGN KEY([ADDRESSID])
REFERENCES [dbo].[ADRESSE] ([ADDRESSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SOCIETE] CHECK CONSTRAINT [FK_SOCIETE_ASSOCIATI_ADRESSE]
GO
ALTER TABLE [dbo].[TRANSPORTEUR]  WITH CHECK ADD  CONSTRAINT [FK_TRANSPOR_ASSOCIATI_STATUS] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[STATUS] ([STATUSID])
GO
ALTER TABLE [dbo].[TRANSPORTEUR] CHECK CONSTRAINT [FK_TRANSPOR_ASSOCIATI_STATUS]
GO
USE [master]
GO
